@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">St Louis Travel Guide</h1>
    <p>Welcome! Use this website to find user recommended places to go in St. Louis!</p>
    <img src="~/Images/St.-Louis-Gateway-Arch-Venue-Featured-Image.jpg" />
</div>
